<div id="navigation" class="grid_4 beta">
  <h2>Navigation</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/meetup">The Meetup</a></li>
    <li><a href="https://github.com/yegrb/yeg-wiki/wiki">Wiki</a></li>
    <li><a href="https://github.com/yegrb/yeg-wiki/wiki/Hackups">Hackups</a></li>
		<li><a href="https://github.com/yegrb/yeg-wiki/wiki/hitlist">Talk Hitlist</a></li>
		<li><a href="/local_ruby">Local Ruby Projects</a></li>
    <li><a href="/rumble">Rumble Resources</a></li>
    <li><a href="http://groups.google.com/group/yegrb">Mailing List</a></li>
    <li><a href="https://spreadsheets.google.com/viewform?formkey=dG9VU21lcDc3OWYzUXdZQXRPYzYyZWc6MQ">Contact Us</a>
  </ul>
</div>
