<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/text.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/960.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/yegrb.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link href="{{ site.atom_url }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
    <link href="{{ site.rss_url }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed" />
  </head>
  <body>
    <div class="container_12">
      <div id="header" class="grid_12">
        <img id="logo" src="/images/ruby_medium.png"/>
        <h1><a href="/">#yegrb</a></h1>
        <p>{{ site.subtitle | xml_escape }}</p>
      </div>
      <div class="grid_8 alpha">
        {{ content }}
      </div>
      <div id="sidebar" class="grid_4 omega">
        <div class="block">
          <!-- YEGRB Twitter Profile -->
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 6000,
            width: 300,
            height: 300,
            theme: {
              shell: {
                background: '#333333',
                color: '#ffffff'
              },
              tweets: {
                background: '#000000',
                color: '#ffffff',
                links: '#4aed05'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('yegrb').start();
          </script>
        </div>

        <div class="block">
          <!-- Edmonton Rubyists -->
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'list',
            rpp: 30,
            interval: 6000,
            title: 'Edmonton Rubyists',
            subject: 'console',
            width: 300,
            height: 300,
            theme: {
              shell: {
                background: '#d60d0d',
                color: '#ffffff'
              },
              tweets: {
                background: '#ffffff',
                color: '#444444',
                links: '#d60d0d'
              }
            },
            features: {
              scrollbar: true,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              behavior: 'all'
            }
          }).render().setList('yegrb', 'edmonton-rubyists').start();
          </script>
        </div>

        <div class="block">
          <iframe src="https://www.google.com/calendar/hosted/yegrb.com/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=yegrb.com_4pmb3hc3jv4jc75jhodv6m2rkc%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FEdmonton" style=" border-width:0 " width="300" height="320" frameborder="0" scrolling="no"></iframe>
        </div> <!-- end block -->
        <div class="block">
          <h2>Subscribe</h2>
          <ul>
            <li>
              <a href="{{ site.rss_url }}">RSS</a>
              <a href="{{ site.atom_url }}">Atom</a>
            </li>
          </ul>
        </div>
      </div> <!-- end sidebar -->
    </div>

  <!-- Google Analytics -->
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-73138-7");
    pageTracker._trackPageview();
  } catch(err) {}</script>
  </body>
</html>
